/* 
:root {
  --font-family: --apple-system, BlinkMacSyst emFont, 'Segoe UI';
  --font-size: 18px;
  --bg-color: #dad5d5;
  --fg-color: #fff;
  --link-color: #f0f;
}
*/

body {
  margin: 0;
  width: 100%;
  font-family: 'Open Sans', 'Helvetica', 'Verdana';
  font-size: 16px;
  line-height: 1.25em;
  color: #17073D;
  background-color: #F4EFF9;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: rgb(237, 197, 254);
}
.navbar > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: baseline;
}
.navbar a {
  text-decoration: none;
  padding: 1em;
}

h1 {
  font-size: 3.5em;
  font-family: 'Allura';
}

h2 {
  font-size: 1.75em; 
}

h3 {
  font-size: 2.00em;
  font-family: 'Allura';
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.75em;
  font-family: 'Allura';
}

h6 {
  font-size: 1.25em;
}

strong {
  font-weight: 625;
}

em {
  font-style: italic;
  font-weight: 345;
}

abbr {
  text-decoration: none
}

abbr:hover {
  color: green;
}

del {
  text-decoration: line-through;
}

s {
  text-decoration: line-through;
}

mark {
  background-color: rgb(237, 197, 254);
}


a {
  color: #1B51AA;
  text-decoration: none;
}
/*

a:hover {
  color: rgb(146, 228, 22)
}

a:active {
  color: rgb(185, 211, 145)

}
a:visited {
  color: rgb(43, 63, 12)

} */
